<div id="login-container">
  <div class="header-background-circle"></div>

  <div class="row">
    <div class="col-xs-12">
      <div class="welcome-box">
        <div class="welcome-text">Welcome to</div>
        <div class="store-name">{{ storeName }}</div>
        <div class="welcome-text">Featuring</div>
        <div class="luxlock-logo"><img src="assets/images/logo.png"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <hr class="small-divider">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 welcome-back-container">
      <div class="welcome-back">Pleasure to be shopping with you again, welcome.</div>
      <div class="new-black">Happy is the new black.</div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 auth-navigation-container">
      <div class="auth-navigation">
        <div class="auth-list-item active"><a routerLink="/login">Login</a></div>
        <div class="auth-list-item"><a routerLink="/register">Register</a></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="login-form-container">
        <form class="login-form">
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="EMAIL"
              required="required"
              [(ngModel)]="email" #email_field="ngModel">
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              placeholder="PASSWORD"
              required="required"
              [(ngModel)]="password" #password_field="ngModel">
          </div>

          <button class="btn btn-primary login-button" type="button" (click)="logIn()">
            <i class="fa fa-lock"></i>
            Unlock Luxury
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="forget-password-container">
        <a class="btn btn-link forget-password">Forgot password?</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="tos-container">
        By pressing the sign in button you are joining LUXLOCK and agree to their Terms of Membership and Privacy Laws.
      </div>
    </div>
  </div>

</div>
